<div class="card">
    <figure>
        <img class="imagen_style card-img-top" [src]="miUser.image" [alt]="miUser.first_name">
    </figure>
    <div class="card-body"> 
        <h3 class="card-title">{{miUser.first_name}}</h3>
        <div class="d-flex justify-content-between">
            <button [routerLink]="['/user', miUser._id]" class="btn btn-outline-primary">Ver detalle</button>
            <button [routerLink]="['/user', miUser._id]" class="btn btn-outline-warning">Actualizar</button>
            <button [routerLink]="['/user', miUser._id]" class="btn btn-outline-danger">Borrar</button>
    </div>
    </div>
</div>

