<div class="card shadow p-2">
    <div class="d-flex justify-content-around">
        <figure>
            <img class="img-fluid" [src]="miUsuario.image" alt="miUsuario.first_name">
        </figure>
        <h3>{{miUsuario.first_name}} {{miUsuario.last_name}}</h3>
    </div>

    <div class="d-flex justify-content-between">
        <button [routerLink]="['/user, miUsuario._id']" class="btn btn-dark">Ver detalle</button>
        <button [routerLink]="['/update, miUsuario.id']" class="btn btn-danger">Actualizar</button>
        <button [routerLink]="['/user, miUsuario.id']" class="btn btn-warning">Borrar</button>
    </div>
   
</div>
