
<section class="container mt-2">

  <h2>Listado de usuarios registrados</h2>
  <hr>

    <div class="row g-3">
        <article class="col-12 col-md-6 col-lg-4" *ngFor="let user of arrUsers">
            <app-user-card [miUser]="user"></app-user-card>
        </article>


        <nav aria-label="Page navigation example">
            <ul class="pagination">
              <li class="page-item"><button class="page-link" (click)="gotoPage(currentPage - 1)" [disabled]="currentPage === 1"> Previous</button></li>
              <li class="page-item"><button class="page-link" (click)="gotoPage(currentPage + 1)" [disabled]="currentPage === totalPage">Next</button></li>
            </ul>
          </nav>
    </div>

</section>