<section class="mt-5">

    <h2>Listado de usuarios</h2>
    <hr>
    

    <div class="row g-3">
        <article *ngFor="let user of arrUsers" class="col-12 col-md-6 col-xl-3">
           <app-user [miUsuario]="user"></app-user>
        </article>
        
    </div>

</section>


<!--
   <div class="row g-3">
        <article class="col-12 col-md-6 col-xl-3">
            <div class="caja-usuario">Caja 1</div>
        </article>
        <article class="col-12 col-md-6 col-xl-3">
            <div class="caja-usuario">Caja 2</div>
        </article>
        <article class="col-12 col-md-6 col-xl-3">
            <div class="caja-usuario">Caja 3</div>
        </article>
        <article class="col-12 col-md-6 col-xl-3">
            <div class="caja-usuario">Caja 4</div>
        </article>
    </div>



-->