<!--<section class="container mt-3"> 
    <div class="card p-3">
        <figure>
            <img class="imagen_style card-img-top" [src]="user?.image" [alt]="user?.first_name">
        </figure>
        <div class="card-body">
            <p>{{user?.first_name}} {{user?.last_name}}</p>
            <p> {{user?.username}}</p>
            <p>{{user?.email}} </p>
        </div>

        <div class="justify-content-between">
            <button class="btn bd-back-500 m-2" [routerLink]="['/home']">Volver a usuarios</button>
            <button class="btn bd-update-500 m-2" [routerLink]="['/updateuser', user._id]">Actualizar</button>
            <button class="btn bd-delete-500 m-2" (click)="delete(user._id)">Borrar</button>
        </div>
    </div>
</section>-->



<div class="card mb-3 border-light" style="max-width: 540px;">
  <div class="row g-0">
    <div class="col-12 col-md-6">
      <img class="img-fluid rounded-start" [src]="user?.image" [alt]="user?.first_name"> 
    </div>
    <div class="col-12 col-md-6">
      <div class="card-body">
        <h5 class="card-title">{{user?.first_name}} {{user?.last_name}}</h5>
        <p class="card-text">Username: {{user?.username}}</p>
        <p class="card-text"><small class="text-muted">{{user?.email}}</small></p>
      </div>
    </div>
  </div>
</div>

<div>
    <button class="btn bd-back-500 m-2" [routerLink]="['/home']">Volver a usuarios</button>
    <button class="btn bd-update-500 m-2" [routerLink]="['/updateuser', user._id]">Actualizar</button>
    <button class="btn bd-delete-500 m-2" (click)="delete(user._id)">Borrar</button>
</div>

 
        