

<section class="container">
<form  novalidate [formGroup]="formModel" (ngSubmit)="getDataForm()">


    <div class="my-2">
        <label class="form-label" for="first_name">Nombre (*)</label>
        <input class="form-control" id="first_name" type="text" formControlName="first_name">
        <p class="error" *ngIf="checkControl('first_name', 'required')">El campo es requerido</p>
    </div>

    <div class="my-2">
        <label class="form-label" for="last_name">Apellidos (*)</label>
        <input class="form-control" id="last_name" type="text" formControlName="last_name">
        <p class="error" *ngIf="checkControl('last_name', 'required')">El campo es requerido</p>
    </div>

    <div class="my-2">
        <label class="form-label" for="email">Email (*)</label>
        <input class="form-control" id="email" type="text" formControlName="email">
        <p class="error" *ngIf="checkControl('email', 'pattern')">El mail debe ser válido</p>
    </div>

    <div class="my-2">
        <label class="form-label" for="image">Imagen (*)</label>
        <input class="form-control" id="image" type="text" formControlName="image">
        <p class="error" *ngIf="checkControl('image', 'required')">El campo es requerido</p>
    </div>

    <input type="submit" value="Guardar" class="btn btn-dark" [disabled]="!formModel.valid">
</form>

</section>







